### web scrapers:
requests==2.7           # http calls
requests_cache==0.4     # set up a cache in 2 loc
beautifulsoup4          # html parser
lxml==3.5               # html parser (like beautifulsoup4, but for xpath)

### utils
toolz                   # pure, lazy, composable functional programming.
tabulate                # pretty print tabular data.
addict                  # dotted notation to dict attributes and more.
unidecode               # ASCII transliteration of unicode text.
distance                # between two strings.
clize==3                # build command line arguments
tqdm                    # progress bar
termcolor               # colorful terminal output
xhtml2pdf               # produce pdf from html templates. Installs

